# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# VS Code (opcional)
.vscode/

# Mac / Linux / Windows basura
.DS_Store
Thumbs.db
